
Lorem Ipsum XR Translator/ProjectSettings/QualitySettings.asset
Lorem Ipsum XR Translator/Assets/Secrets.cs
Lorem Ipsum XR Translator/Assets/Secrets.cs.meta
Lorem Ipsum XR Translator/Assets/MixedRealityToolkit.Generated/ProjectPreferences.asset
Lorem Ipsum XR Translator/Assets/MixedRealityToolkit.Generated/ProjectPreferences.asset
Lorem Ipsum XR Translator/Assets/MixedRealityToolkit.Generated/ProjectPreferences.asset
Lorem Ipsum XR Translator/Assets/MixedRealityToolkit.Generated/ProjectPreferences.asset
Lorem Ipsum XR Translator/Assets/MixedRealityToolkit.Generated/ProjectPreferences.asset
Lorem Ipsum XR Translator/Assets/Scripts/ObjectDetection/Test/yolov4.onnx
Lorem Ipsum XR Translator/Assets/Scripts/ObjectDetection/Test/yolov4.onnx.meta
Lorem Ipsum XR Translator/Assets/Scripts/ObjectDetection/Test.meta
Lorem Ipsum XR Translator/Assets/Scripts/ObjectDetection.meta

**/venv/
**/__pycache__/
