
Lorem Ipsum XR Translator/Assets/Secrets.cs
Lorem Ipsum XR Translator/Assets/Secrets.cs.meta
Lorem Ipsum XR Translator/Assets/Scripts/ObjectDetection/Test/yolov4.onnx
Lorem Ipsum XR Translator/Assets/Scripts/ObjectDetection/Test/yolov4.onnx.meta
